{
    "modelID": "{{MODEL_ID}}",
    "data_path": "{{DATA_PATH}}",
    "features": "{{FEATURES}}",
    "datetime_col": "{{DATETIME_COL}}",
    "group_col": "{{GROUP_COL}}",
    "baseline_start": "{{BASELINE_START}}",
    "baseline_end": "{{BASELINE_END}}",
    "target_start": "{{TARGET_START}}",
    "target_end": "{{TARGET_END}}",
    "p_val": "{{P_VAL}}"
}